<table class="table table-bordered table-striped">
  <thead>
   <tr>
     <th>Name</th>
     <th>Description</th>
     <th style="width:60px;"></th>
     <th style="width:60px;"></th>
     <th style="width:150px;"></th>
   </tr>
  </thead>
  <tbody>
    <% current_user.groups.each do |group|%>
      <tr value="<%=group.id%>">
        <td><%=link_to "#{group.name}", "#"%></td>
        <td><%=group.description%></td>
        <td><%= link_to "Delete", "/groups/#{group.id}", :remote => true, :method => :delete, confirm: "Are you Sure"%></td>
        <td><a href="#" data-target="#myModal" data-toggle="modal" class="edit_action">Edit</a></td>
        <td><a href="#">Add Contribution</a></td>
      </tr>
    <%end%>
  </tbody>
</table>
