<div id="page_content">
  <div id="page_content" class="row">
	<h2 class="col-xs-6">Your Groups</h2>
	<div class="row show-grid"></div>
	 <%current_user.groups.each do |group|%>
	   <div class="col-xs-7">
         <%=group.name%>
       </div>
     <%end%>
     <%current_user.groups_as_member.each do |group|%>
	   <div class="col-xs-7">
         <%=group.name%>
       </div>
     <%end%>
  </div>
</div>